<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmação - Ponto de Equilíbrio</title>
</head>
<body>
    <div class="content">
        <h1>Pré-cadastro recebido com sucesso</h1>
        <p>Olá! Agradecemos por realizar o pré-cadastro.</p>
        <p>Recebemos suas informações e em breve nossa equipe entrará em contato para dar continuidade ao atendimento.
            Esse é o primeiro passo para cuidarmos da sua saúde com carinho e profissionalismo.
        </p>

        <h3>O que acontece agora?</h3>
        <ul>
            <li>Nossa equipe irá revisar seus dados com atenção</li>
            <li>Você receberá um contato por telefone ou Whatsapp nas próximas horas para confirmar seu agendamento ou esclarecer dúvidas.</li>
            <li>Fique tranquilo(a), estamos aqui para te acompanhar em cada etapa.</li>
        </ul>
        <p>Se precisar de algo antes disso, você pode falar conosco pelo Whatsapp ou redes sociais.</p>
    </div>
</body>
</html>