{% extends 'core/base.html' %} {% load static %} {% block title %}Profissionais
- Ponto de Equilíbrio{% endblock %} {% block extra_css %}
 <link rel="stylesheet" href="{% static 'core/css/alerts.css' %}">
<link rel="stylesheet" href="{% static 'core/css/profissionais.css' %}">
<link rel="stylesheet" href="{% static 'core/css/tema.css' %}">
{% endblock %} 
  <span class="text">{% block topbar_title %}Profissionais{% endblock %}</span>

{% block content %}
{% include "core/partials/_confirm_modal.html" %}
<div class="content">
  {% include "core/partials/_loader.html" %}
  {% include "core/partials/filtros/filtro_profissional.html" %}

  <div class="card-grid">
    {% for profissional in page_obj %}
      
      
      <div class="card {% if not profissional.ativo %}inativo{% endif %}">


        {% include "core/partials/_profissional_dropdown.html" %}

        <div class="card-top"></div>

        <div class="avatar">
          {% if profissional.foto %}
            <img src="{{ profissional.foto.url }}" alt="Foto de {{ profissional.nome }}">
          {% else %}
            <img src="{% static 'core/img/defaultPerfil.png' %}" alt="Sem foto">
          {% endif %}
        </div>

        <div class="card-body">
          <h2 class="name">{{ profissional.nome }} {{ profissional.sobrenome }}</h2>
          <p class="role">{{ profissional.especialidade }}</p>
          <div class="info">
            <p><i class="bx bx-id-card"></i> {{ profissional.get_conselho1_display }} - {{ profissional.num1_conselho }}</p>
            <p><i class="bx bx-phone"></i> {{ profissional.celular }}</p>
            <p><i class="bx bx-envelope"></i> {{ profissional.email }}</p>
          </div>
        </div>

      </div>
    {% endfor %}
  </div>


  <div class="pagination">
    <div class="pagination-info">
      Mostrando {{ page_obj.start_index }} - {{ page_obj.end_index }} de {{ page_obj.paginator.count }} registros
    </div>
    <div class="pagination-controls">
      {% if page_obj.has_previous %}
      <a href="?page={{ page_obj.previous_page_number }}{% if query %}&q={{ query }}{% endif %}{% if situacao %}&situacao={{ situacao }}{% endif %}{% if data_inicio %}&data_inicio={{ data_inicio }}{% endif %}{% if data_fim %}&data_fim={{ data_fim }}{% endif %}{% if mostrar_todos %}&mostrar_todos=on{% endif %}{% if filtra_inativo %}&filtra_inativo=on{% endif %}" 
          class="pagination-btn">Anterior</a>
      {% else %}
      <button class="pagination-btn disabled">Anterior</button>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
        <button class="pagination-btn active">{{ num }}</button>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
        <a href="?page={{ num }}{% if query %}&q={{ query }}{% endif %}{% if situacao %}&situacao={{ situacao }}{% endif %}{% if data_inicio %}&data_inicio={{ data_inicio }}{% endif %}{% if data_fim %}&data_fim={{ data_fim }}{% endif %}{% if mostrar_todos %}&mostrar_todos=on{% endif %}{% if filtra_inativo %}&filtra_inativo=on{% endif %}" 
            class="pagination-btn">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}{% if query %}&q={{ query }}{% endif %}{% if situacao %}&situacao={{ situacao }}{% endif %}{% if data_inicio %}&data_inicio={{ data_inicio }}{% endif %}{% if data_fim %}&data_fim={{ data_fim }}{% endif %}{% if mostrar_todos %}&mostrar_todos=on{% endif %}{% if filtra_inativo %}&filtra_inativo=on{% endif %}" 
          class="pagination-btn">Próxima</a>
      {% else %}
      <button class="pagination-btn disabled">Próxima</button>
      {% endif %}
    </div>
  </div>


</div>
{% include "core/partials/alertas.html" %}
{% endblock %} {% block scripts %}
<script src="https://unpkg.com/imask"></script>
<script src="{% static 'core/js/base/abrirFiltro.js' %}"></script>
<script src="{% static '/core/js/profissionais/baseProfissionais.js' %}"></script>
{% endblock %}
</div>