{% extends 'core/base.html' %} {% load static %} {% block title %}Profissionais
- Ponto de Equilíbrio{% endblock %} {% block extra_css %}
<link rel="stylesheet" href="{% static 'core/css/profissionais.css' %}">
<link rel="stylesheet" href="{% static 'core/css/tema.css' %}">
{% endblock %} 
  <span class="text">{% block topbar_title %}Profissionais{% endblock %}</span>

{% block content %}
{% include "core/partials/_confirm_modal.html" %}
  <div class="content">
    <div class="content-header">
      <form method='GET' action="{% url 'profissionais' %}">
        <div class="filter-container">
          <div class="filter-container_row">
       
            <div class="filter_input">
              <i class='bx bx-search'></i>
              <input class="form-input" type="search" placeholder="Pesquisar...">
            </div>
            
            
            <div class="filter_input">
              <i class='bx bx-calendar'></i>
              <input class="form-input" type="date" id="start-date">
            </div>
            
            <div class="filter_input">
              <i class='bx bx-calendar'></i>
              <input class="form-input" type="date" id="end-date">
            </div>
            
            <div class="filter_input">
              <select class="form-select" name="" id="">
                <option value="1">Ativo</option>
                <option value="2">Inativo</option>
                <option value="3">Pendente</option>
              </select>
            </div>

 
            <button type="submit" class="btn">
              <i class='bx bx-filter-alt'></i>
              <span>Filtrar</span>
            </button>
            
            <button type="button" class="btn">
              <i class='bx bx-reset'></i>
              <span>Limpar</span>
            </button>
          </div>
        </div>
      </form>
      <!--
      <h2>Lista de profissionais</h2>
      <form method="GET" action="{% url 'profissionais' %}" class="search-form" type="search">
        <input type="text" name="q" value="{{ query|default:'' }}" placeholder="Buscar profissional aqui" />
      </form>
      <div>
        <button class="btn" onclick="window.location.href='{% url 'cadastrar_profissional' %}'">+ Add
          Profissional</button>
      </div>-->
      <div class='btn'><i class="fas fa-plus mr-2"></i>Novo Profissional</div>
    </div>

<div class="card-grid">
    
    {% for profissional in profissionais %}
      <div class="card">
        {% include "core/partials/_profissional_dropdown.html" %}

        <div class="card-top"></div>

        <div class="avatar">
          {% if profissional.foto %}
            <img src="{{ profissional.foto.url }}" alt="Foto de {{ profissional.nome }}">
          {% else %}
            <img src="{% static 'core/img/defaultPerfil.png' %}" alt="Sem foto">
          {% endif %}
        </div>

        <div class="card-body">
          <h2 class="name">{{ profissional.nome }} {{ profissional.sobrenome }}</h2>
          <p class="role">{{ profissional.especialidade }}</p>
          <div class="info">
            <p><i class="bx bx-id-card"></i> {{ profissional.get_conselho1_display }} - {{ profissional.num1_conselho }}</p>
            <p><i class="bx bx-phone"></i> {{ profissional.celular }}</p>
            <p><i class="bx bx-envelope"></i> {{ profissional.email }}</p>
          </div>
        </div>

      </div>
    {% endfor %}
    
  </div>
 
 
</div>
{% endblock %} {% block scripts %}
<script src="https://unpkg.com/imask"></script>
<script src="{% static '/core/js/profissionais/baseProfissionais.js' %}"></script>
{% endblock %}
</div>