{% extends 'core/base.html' %} {% load static %} {% block title %}Profissionais
- Ponto de Equilíbrio{% endblock %} {% block extra_css %}
<link rel="stylesheet" href="{% static 'core/css/profissionais.css' %}">
<link rel="stylesheet" href="{% static 'core/css/tema.css' %}">
{% endblock %} 
  <span class="text">{% block topbar_title %}Profissionais{% endblock %}</span>

{% block content %}
  <div class="content">
    <div class="content-header">
      <h2>Lista de profissionais</h2>
      <form method="GET" action="{% url 'profissionais' %}" class="search-form" type="search">
        <input type="text" name="q" value="{{ query|default:'' }}" placeholder="Buscar profissional aqui" />
      </form>
      <div>
        <button class="btn" onclick="window.location.href='{% url 'cadastrar_profissional' %}'">+ Add
          Profissional</button>
      </div>
    </div>

<div class="card-grid">
    {% for profissional in profissionais %}
      <div class="card">
        <div>
          <button class="action-btn" onclick="toggleDropdown(this)">⋮</button>
          <div class="dropdown_menu">
            <button onclick="abrirModal({{ profissional.id }})">Ver detalhes</button>
            <button onclick="window.location.href='{% url 'editar_profissional' profissional.id %}'">Editar</button>
            <button onclick="abrirFicha('{% url 'ficha_profissional' profissional.id %}')">Gerar Ficha</button>
          </div>
        </div>

        <div class="card-top"></div>

        <div class="avatar">
          {% if profissional.foto %}
            <img src="{{ profissional.foto.url }}" alt="Foto de {{ profissional.nome }}">
          {% else %}
            <img src="{% static 'core/img/defaultPerfil.png' %}" alt="Sem foto">
          {% endif %}
        </div>

        <div class="card-body">
          <h2 class="name">{{ profissional.nome }} {{ profissional.sobrenome }}</h2>
          <p class="role">{{ profissional.especialidade }}</p>
          <div class="info">
            <p><i class="bx bx-id-card"></i> {{ profissional.get_conselho1_display }} - {{ profissional.num1_conselho }}</p>
            <p><i class="bx bx-phone"></i> {{ profissional.celular }}</p>
            <p><i class="bx bx-envelope"></i> {{ profissional.email }}</p>
          </div>
        </div>

      </div>
    {% endfor %}
  </div>


 

  <div id="modalOverlay" class="overlay" style="display: none;">
    <div class="modal">
      <div class="perfil_topbar">
        <div  class="patient-header">
          <h2 id="profissionalNome"></h2>
          <span class="birth" id="profissionalNascimento"></span> 
          <span class="birth" id="profissionalIdade"></span>
        </div>
        <span class="fechar" onclick="fecharModal()">×</span>
      </div>
      <div class="patient-card">
        <div class="patient-photo">
          <img id="profissionalFoto" src="" alt="Foto do profissional">
        </div>
        <div class="patient-info-table">
          <table>
            <tbody>
              <tr>
                <th>RG</th>
                <td id="profissionalRg"></td>
                <th>CPF</th>
                <td id="profissionalCpf"></td>
              </tr>
              <tr>
                <th>Telefone</th>
                <td id="profissionalTelefone"></td>
                <th>Celular</th>
                <td id="profissionalCelular"></td>
              </tr>
              <tr>
                <th>Cor</th>
                <td id="profissionalCor"></td>
                <th>Sexo</th>
                <td id="profissionalSexo"></td>
              </tr>
              <tr>
                <th>Estado Civil</th>
                <td id="profissionalEstadoCivil"></td>
                <th>Email</th>
                <td id="profissionalEmail"></td>
              </tr>
              <tr>
                <th>Endereço</th>
                <td colspan="3" id="profissionalEndereco"></td>
              </tr>
              <tr>
                <th>Observação</th>
                <td colspan="3" id="profissionalObs"></td>
              </tr>
            </tbody>
          </table>
        
   
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>
{% endblock %} {% block scripts %}
<script src="https://unpkg.com/imask"></script>
<script src="{% static '/core/js/profissionais/baseProfissionais.js' %}"></script>
{% endblock %}
</div>