{% extends 'core/base.html' %}
{% load static %}



{% block title %}Agenda - Ponto de Equilíbrio{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'core/css/agenda/agenda.css' %}">
{% endblock %}

{% block topbar %}
<div class="topbar">
    <div class="topbar-div">
        <i class='bx bx-menu'></i>
        <span class="text">Agenda</span>
        <form method="GET" action="{% url 'agenda' %}" class="search-form">
            <input type="text" name="q" value="{{ query }}" placeholder="Buscar por paciente ou profissional aqui">
            <button type="submit">Buscar</button>
        </form>
    </div>
    <div class="topbar-div">
        <div class="name-job">
            <div class="profile_name">Olá, {{ user.username }}</div>
        </div>
        <a href="{% url 'logout' %}">
            <i class='bx btn-sair bx-log-out'></i>
        </a>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="content">





    <div class="" class="sidebar" id="sidebar">
        <div class="header-sidebar">
            <h2>Agendamento</h2>
            <button id="closeBtn">&times;</button>
        </div>






        <div class="agendamento_div">
            <form id="agendamentoForm" method="post" action="{% url 'criar_agendamento' %}">
                {% csrf_token %}

                <div id="aviso-pacote"
                    style="display: none; margin: 1em 0; padding: 10px; background-color: #e6ffe6; border: 1px solid #4CAF50; border-radius: 5px;">
                    <strong style="color: #2e7d32;">Pacote ativo detectado!</strong><br>
                    <span id="mensagem-pacote" style="color: #2e7d32; font-size: 13px;"></span>
                    <button type="button" id="usar-pacote-btn"
                        style="margin-left: 10px; background-color: #4CAF50; color: white; border: none; padding: 5px 10px; border-radius: 4px; cursor: pointer;">
                        Usar este pacote
                    </button>
                </div>
                <div style=" display: none;" id="pacote_atual"></div>
                <!--
                <div id="aviso-pacote"
                    style="display: none; margin: 1em 0; padding: 10px; background-color: #e6ffe6; border: 1px solid #af4c4c; border-radius: 5px;">
                    <strong style="color: #7d2e2e;">Pacote ativo detectado!</strong><br>
                    <span id="mensagem-pacote" style="color: #7d2e2e; font-size: 13px;"></span>
                    <button type="button" id="usar-pacote-btn"
                        style="margin-left: 10px; background-color: #af4c4c; color: white; border: none; padding: 5px 10px; border-radius: 4px; cursor: pointer;">
                        Usar este pacote
                    </button>
                </div>
-->
                <div class="formField input-wrapper">
                    <input class='capitalize-input' type="text" id="busca" placeholder="Buscar paciente por nome..." autocomplete="on">
                    <input type="hidden" id="paciente_id" name="paciente_id">
                    <div id="sugestoes"></div>
                </div>
                <div class="radio-group">
                    <label><input type="radio" name="tipo_agendamento" value="novo" checked> Nova Sessão / Novo
                        Pacote</label>
                    <div hidden>
                        <label><input class="input-s" type="radio" name="tipo_agendamento" value="existente">
                            Sessão de Pacote Já Assinado</label>
                        <input type="text" id="pacote_codigo" name="pacote_codigo"
                            placeholder="Digite o código do pacote">
                    </div>
                    <div hidden>
                        <label><input type="radio" name="tipo_agendamento" value="reposicao"> Reposição de
                            Sessão</label>
                    </div>
                </div>



                <div class="formField">
                    <label>Tipo de sessão</label>
                    <input type="hidden" id="servico_id_hidden" name="servico_id">
                    <select name="servico_id" id="pacotesInput" class="input-s" required>
                        <option value="" disabled selected>Selecione um serviço</option>
                        {% for servico in servicos %}
                        <option value="{{ servico.id }}" data-valor="{{ servico.valor }}">
                            {{ servico.nome }} - R$ {{ servico.valor }}
                        </option>
                        {% endfor %}
                    </select>
                </div>

                <div class="formRow">
                    <div class="formField">
                        <label>Especialidade</label>
                        <select name="especialidade_id" id="especialidadeInput" class="input-s" required>
                            <option value="" disabled selected>Selecione uma especialidade</option>
                            {% for esp in especialidades %}
                            <option value="{{ esp.id }}">
                                {{ esp.nome }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="formField">
                        <label>Profissional 1</label>
                        <select name="profissional1_id" id="profissional1Input" class="input-s" required>
                            <option value="" disabled selected>Selecione um profissional</option>
                            {% for profissional in profissionais %}
                            <option value="{{ profissional.id }}">
                                {{ profissional.nome }} {{ profissional.sobrenome }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="formRow">
                    <div class="formField">
                        <label>Data</label>
                        <input type="date" name="data" id="dataInput">
                    </div>
                    <div class="formField">
                        <label>Início</label>
                        <input type="time" name="hora_inicio" id="horaInicioInput" min="06:00" max="00:00" required>
                    </div>
                    <div class="formField">
                        <label>Fim</label>
                        <input type="time" name="hora_fim" id="horaFimInput" min="06:00" max="00:00" required>
                    </div>
                </div>
                <div class="formRow">
                    <div class="formField">
                        <label><input type="checkbox" name="recorrente" id="recorrente"> Agendamento Recorrente</label>
                    </div>
                    <div class="formField">
                        <label>Recorrência</label>
                        <select name="recorrencia_dia" id="recorrencia_dia">
                            <option disabled value="">Selecione...</option>
                            <option value="0">Todas segundas</option>
                            <option value="1">Todas terças</option>
                            <option value="2">Todas quartas</option>
                            <option value="3">Todas quintas</option>
                            <option value="4">Todas sextas</option>
                            <option value="5">Todos sábados</option>
                        </select>
                    </div>
                </div>
                <div id='formValor' class="formRow">
                    <div class="formField">
                        <label>Valor Pacote</label>
                        <input id="valor_pacote" name="valor_pacote" type="number" step="0.01"
                            oninput="calcularDesconto()" readonly>
                    </div>

                    <div class="formField">
                        <label id='desconto_label'>Desconto (%)</label>
                        <div class="input-wrapper">
                            <input id="desconto" name="desconto" type="number" step="0.01" oninput="calcularDesconto()">
                            <input type="hidden" id="modo_desconto" name="modo_desconto" value="%">
                            <button type="button" id='desconto_button' class="modo_desconto"
                                onclick="alternarModoDesconto()">R$</button>
                        </div>
                    </div>

                    <div class="formField">
                        <label for="valor_final">Valor final</label>
                        <input id="valor_final" name="valor_final" type="number" step="0.01" oninput="alterarDesconto()"
                            required>
                        <input type="hidden" id="valor_pago_atual" name="valor_pago_atual" value="0.00">
                    </div>
                </div>

                <div class="formRow">
                    <div class="formField">
                        <label>Valor pago</label>
                        <input type="number" name="valor_pago" placeholder="Valor pago" step="0.01">

                    </div>
                    <div class="formField">
                        <label>Forma de pagamento</label>
                        <select name="forma_pagamento">
                            <option value="pix">Pix</option>
                            <option value="credito">Cartão de Crédito</option>
                            <option value="debito">Cartão de Débito</option>
                            <option value="dinheiro">Dinheiro</option>
                            <option value="outro">Outro</option>
                        </select>
                    </div>

                </div>
                <div id="info_pacote" class="hidden">
                    <table class="table-auto w-full text-sm text-left border border-gray-300 mb-4">
                        <tbody>
                            <tr class="border-b">
                                <th class="px-2 py-1 font-medium bg-gray-100">Código do Pacote</th>
                                <td class="px-2 py-1" id="codigo_pacote_display"></td>
                            </tr>
                            <tr class="border-b">
                                <th class="px-2 py-1 font-medium bg-gray-100">Valor Pago</th>
                                <td class="px-2 py-1">R$ <span id="valor_pago_display"></span></td>
                            </tr>
                            <tr class="border-b">
                                <th class="px-2 py-1 font-medium bg-gray-100">Valor Restante</th>
                                <td class="px-2 py-1">R$ <span id="valor_restante_display"></span></td>
                            </tr>
                            <tr>
                                <th class="px-2 py-1 font-medium bg-gray-100">Sessão Atual</th>
                                <td class="px-2 py-1">
                                    <span id="sessao_atual_display"></span> de <span id="total_sessoes_display"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <button type="button" id="btn_gerar_cupom"
                        class="bg-blue-600 text-white px-3 py-1 rounded hover:bg-blue-700 w-full">
                        Gerar Comprovante
                    </button>
                </div>

                <div class="formField">
                    <label>Ambiente / Sala</label>
                    <select name="ambiente">
                        <option value="">Selecione...</option>
                        <option value="Andar 1 - Sala 1">Andar 1 - Sala 1</option>
                        <option value="Andar 1 - Sala 2">Andar 1 - Sala 2</option>
                        <option value="Andar 1 - Sala 3">Andar 1 - Sala 3</option>
                        <option value="Andar 1 - Sala externa">Andar 1 - Sala externa</option>
                        <option value="Andar 1 - Personal">Andar 1 - Personal</option>
                        <option value="Andar 2 - Sala 1">Andar 2 - Sala 1</option>
                        <option value="Andar 2 - Sala 2">Andar 2 - Sala 2</option>
                        <option value="Andar 2 - Sala 3">Andar 2 - Sala 3</option>
                    </select>

                </div>

                <div class="formField">
                    <label>Status de agendamento</label>
                    <select name="status">
                        <option value="agendado">✅ Agendado</option>
                        <option value="pre">✅ Pré-Agendado</option>
                        
                    </select>
                </div>

                <div class="formField">
                    <label>OBSERVAÇÕES / NOTAS INTERNAS</label>
                    <textarea class="textarea-large" name="observacoes"></textarea>
                </div>

                <div class="submenu">
                    <div class="submenu-header">Registrar Pagamento</div>
                    <div class="submenu-content">

                    </div>
                </div>

                <div class="submenu">
                    <div class="submenu-header">Tipo de Participação do Profissional 2</div>
                    <div class="submenu-content">
                        <div class="formRow">
                            <div class="formField">
                                <select name="profissional2_id" id="profissional2Input" class="input-s">
                                    <option value="" selected>Nenhum</option>
                                    {% for profissional in profissionais %}
                                    <option value="{{ profissional.id }}">
                                        {{ profissional.nome }} {{ profissional.sobrenome }}
                                    </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <div class="footer">
            <button class="btn-footer" type="submit">Agendar</button>
            <button class="btn-footer" type="submit">Gerar recibo</button>
        </div>
        </form>
    </div>
    <div class="content-header">
        <h2>Consultas do dia</h2>
        <div class="buttons_header">
            <button id="openBtn" class="btn-add">+ Novo Agendamento</button>
        </div>
    </div>

    <div id="lista-agendamentos">
        {% for data, agendamentos in agendamentos_agrupados.items %}
          <div class="agenda-data-group">{{ data }}</div>
      
          {% for ag in agendamentos %}
          <div class="agenda-item">
            <div class="time-col">
              <div class="agenda-hora">
                <div style="background-color: {{ ag.cor_especialidade }};" class="bolinha"></div>
                <span>{{ ag.hora_inicio }} – {{ ag.hora_fim }}  </span>
 
              </div>
            </div>
 
            
            <div class="info-col">
                <span class="profissional">{{ ag.profissional }}</span>
                <span  class="profissional">{{ ag.especialidade }}</span>
                
    
                <span class="paciente">{{ ag.paciente }}</span>
                {% if ag.sessao_atual %}
                  <span class="sessao">Sessão {{ ag.sessao_atual }} de {{ ag.sessoes_total }} – {{ ag.sessoes_restantes }} restante(s) | {{ ag.codigo }}</span>
                {% endif %}
              </div>

              <div class="status-col">
            <form method="post" action="{% url 'alterar_status' ag.id %}">
                {% csrf_token %}
          
              <select name="status" class="status-select">
                <option value="pre" {% if ag.status == 'pre' %}selected{% endif %}>✅ Pré-Agendado</option>
                <option value="agendado" {% if ag.status == 'agendado' %}selected{% endif %}>✅ Agendado</option>
                <option value="finalizado" {% if ag.status == 'finalizado' %}selected{% endif %}>✅ Consulta finalizada!</option>
                <option value="desistencia" {% if ag.status == 'desistencia' %}selected{% endif %}>❌ D - Desmarcação</option>
                <option value="desistencia_remarcacao" {% if ag.status == 'desistencia_remarcacao' %}selected{% endif %}>⚠️ DCR - Desmarcação com reposição</option>
                <option value="falta_remarcacao" {% if ag.status == 'falta_remarcacao' %}selected{% endif %}>⚠️ FCR - Falta com reposição</option>
                <option value="falta_cobrada" {% if ag.status == 'falta_cobrada' %}selected{% endif %}>❌ FC - Falta cobrada</option>
              </select>
            </div>
      
            <div class="actions-col">
              <button type="submit" class="action-btn">Alterar Status</button>
              <a href="/agendamento/confirmacao/{{ ag.id }}/">
                <button class="action-btn">Ver Detalhes</button>
              </a>
              <button type="button" id='openBtnEdit' class="action-btn">Editar</button>
            </div>
        </form>
  
          </div>
          {% endfor %}
        {% endfor %}
      </div>

      

      <div id="modalEditAgenda" class="modal-att-agenda">
        <div class="modal-conteudo">
        <div class="header-sidebar">
        <h3>Editar agendamento 
          <button id="closeBtnEdit">&times;</button>
        </div>
          <div class="formRow">
            <div class="formField">
                <label>Data</label>
                <input type="date" name="data" id="dataInput">
            </div>
            <div class="formField">
                <label>Início</label>
                <input type="time" name="hora_inicio" id="horaInicioInput" min="06:00" max="00:00" required>
            </div>
            <div class="formField">
                <label>Fim</label>
                <input type="time" name="hora_fim" id="horaFimInput" min="06:00" max="00:00" required>
            </div>
        </div>
        </div>
      </div>

</div>

{% endblock %}

{% block scripts %}

<script>
    document.getElementById("btn_gerar_cupom").addEventListener("click", function () {
        const { jsPDF } = window.jspdf;
        const doc = new jsPDF();

        const codigo = document.getElementById("codigo_pacote_display").textContent;
        const valorPago = document.getElementById("valor_pago_display").textContent;
        const valorRestante = document.getElementById("valor_restante_display").textContent;
        const sessaoAtual = document.getElementById("sessao_atual_display").textContent;
        const totalSessoes = document.getElementById("total_sessoes_display").textContent;

        doc.setFontSize(16);
        doc.text("Comprovante de Sessão", 20, 20);
        doc.setFontSize(12);
        doc.text('')

        doc.setFontSize(12);
        doc.text(`Código do Pacote: ${codigo}`, 20, 40);
        doc.text(`Valor Pago: R$ ${valorPago}`, 20, 50);
        doc.text(`Valor Restante: R$ ${valorRestante}`, 20, 60);
        doc.text(`Sessão Atual: ${sessaoAtual} de ${totalSessoes}`, 20, 70);

        const dataAtual = new Date().toLocaleString("pt-BR");
        doc.text(`Data/Hora: ${dataAtual}`, 20, 85);

        doc.save(`comprovante_${codigo || sessaoAtual}.pdf`);
    });
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://unpkg.com/imask"></script>
<script src="{% static 'core/js/agenda/baseAgenda.js' %}"></script>
<script src="{% static 'core/js/profissionais/baseProfissionais.js' %}"></script>

{% endblock %}