{% extends 'core/base.html' %}

{% load static %}
{% block title %}Auditoria - Ponto de Equilíbrio{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'core/css/auditoria_logs.css' %}">
<link rel="stylesheet" href="{% static 'core/css/tema.css' %}">
{% endblock %}
<span class="text">{% block topbar_title %}Log de ações{% endblock %}</span>
{% block content %}
<div class="content">
    <form method="get" class="filtros-form">
             <select name="acao">
                <option value="">Todas</option>
                {% for opcao in acoes_disponiveis %}
                    <option value="{{ opcao }}" {% if filtros.acao == opcao %}selected{% endif %}>
                        {{ opcao|title }}
                    </option>
                {% endfor %}
            </select> 
            <select name="modelo">
                <option value="">Todos</option>
                {% for opcao in modelos_disponiveis %}
                    <option value="{{ opcao }}" {% if filtros.modelo == opcao %}selected{% endif %}>
                        {{ opcao }}
                    </option>
                {% endfor %}
            </select>
     
             <input type="date" name="data_inicio" value="{{ filtros.data_inicio }}">
 
            <input type="date" name="data_fim" value="{{ filtros.data_fim }}">
     
        <button type="submit">Filtrar</button>
        <a href="{% url 'auditoria_logs' %}">Limpar</a>
    </form>
    

<table>
    <thead>
        <tr>
            <th>Data/Hora</th>
            <th>Usuário</th>
            <th>Ação</th>
            <th>Módulo</th>
            <th>ID</th>
            <th>Descrição</th>
        </tr>
    </thead>
    <tbody>
        {% for log in logs %}
        <tr>
            <td>{{ log.data_hora|date:"d/m/Y H:i" }}</td>
            <td>{{ log.usuario }}</td>
            <td>{{ log.acao }}</td>
            <td>{{ log.modelo }}</td>
            <td>{{ log.objeto_id }}</td>
            <td>{{ log.descricao }}</td>
        </tr>
        {% empty %}
        <tr><td colspan="6">Nenhuma ação registrada.</td></tr>
        {% endfor %}
    </tbody>
</table>
        {% endblock %}

        {% block scripts %}

        <script src="https://unpkg.com/imask"></script>
        <script src="{% static '/core/js/base/MaskAndInputsBase.js' %}"></script>
        <script src="{% static '/core/js/base/validadorCpfCnpj.js' %}"></script>
        <script src="{% static '/core/js/base/cep.js' %}"></script>
        <script src="{% static '/core/js/profissionais/baseProfissionais.js' %}"></script>
        {% endblock %}

 