{% load static %}
<!DOCTYPE html>
<html lang="pt-br" class="light" dir="ltr">

<head>
  <meta charset="UTF-8">
  <title>{% block title %}Dashboard - Ponto de Equilíbrio{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="{% static 'core/img/icons/logoRoxoFull.png' %}" type="image/png">
  <link rel="stylesheet" href="{% static 'core/css/base.css' %}">
  <link rel="stylesheet" href="{% static 'core/css/tema.css' %}">
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
  <div class="sidebar close">
    <div class="logo-details">
      <img class='logo_img ' src="{% static 'core/img/icons/logoRoxoFull.png' %}" alt="logo Ponto de Equilíbrio">
  
        <span class="logo_name">Ponto de <strong>Equilíbrio</strong></span>
 


    </div>
    <ul class="nav-links">
      <li>
        <a href="{% url 'dashboard' %}">
          <i class='bx bx-grid-alt'></i>
          <span class="link_name">Dashboard</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="{% url 'dashboard' %}">Dashboard</a></li>
        </ul>
      </li>

      <li>
        <div class="iocn-link">
          <a href="{% url 'pacientes' %}">
            <i class='bx bx-collection'></i>
            <span class="link_name">Pacientes</span>
          </a>
          <i class='bx bxs-chevron-down arrow'></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">Pacientes</a></li>
          <li><a href="{% url 'pacientes' %}">Ver Pacientes</a></li>
          <li><a href="{% url 'cadastrar_paciente' %}">Novo Paciente</a></li>
        </ul>
      </li>

      <li>
        <div class="iocn-link">
          <a href="#">
            <i class='bx bx-book-alt'></i>
            <span class="link_name">Profissionais</span>
          </a>
          <i class='bx bxs-chevron-down arrow'></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">Profissionais</a></li>
          <li><a href="{% url 'profissionais' %}">Ver Profissionais</a></li>
          <li><a href="{% url 'cadastrar_profissional' %}">Novo Profissional</a></li>
        </ul>
      </li>

      <li>
        <div class="iocn-link">
          <a href="#">
            <i class='bx bx-food-menu'></i>
            <span class="link_name">Agenda</span>
          </a>
          <i class='bx bxs-chevron-down arrow'></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">Agenda</a></li>
          <li><a href="{% url 'agenda' %}">Ver agenda</a></li>
         
        </ul>
      </li>
      {% if request.user.tipo != 'profissional' %}
      <li>
        <a href="{% url 'financeiro' %}">
          <i class='bx bx-pie-chart-alt-2'></i>
          <span class="link_name">Financeiro</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="{% url 'financeiro' %}">Financeiro</a></li>
        </ul>
      </li>
      {% endif %}
      <li>
        <a href="#">
          <i class='bx bx-bell'></i>
          <span class="link_name">Lembretes</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Lembretes</a></li>
        </ul>
      </li>
      {% if request.user.tipo != 'profissional' %}
      <li>
        <a href="#">
          <i class='bx bx-line-chart'></i>
          <span class="link_name">Relatórios</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Relatórios</a></li>
        </ul>
      </li>
      {% endif %}
      {% if request.user.tipo != 'profissional' %}
      <li>
        <a href="{% url 'auditoria_logs' %}">
          <i class='bx bx-line-chart'></i>
          <span class="link_name">Logs</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="{% url 'auditoria_logs' %}">Logs</a></li>
        </ul>
      </li>
      {% endif %}
      {% if request.user.tipo != 'profissional' %}
      
      <li>
        <a href="{% url 'config' %}">
          <i class='bx bx-cog'></i>
          <span class="link_name">Configurações</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="{% url 'config' %}">Configurações</a></li>
        </ul>
      </li>
      {% endif %}
      <button onclick="toggleDarkMode()">🌙/☀️</button>
      <li>
        <div class="profile-details">
          <div class="profile-content">
            {% if user.profissional.foto %}
            <img src="{{ user.profissional.foto.url }}" alt="Foto de {{ user.get_full_name }}">
            {% else %}
            <img src="{% static 'core/img/defaultPerfil.png' %}" alt="Sem foto">
            {% endif %}
          </div>
          <div class="name-job">
            <div class="profile_name">{{ user.get_full_name }}</div>
            <div class="job"> {{user.get_tipo_display}}</div>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <section class="home-section">
    <div class="home-content">
      {% block topbar %}{% endblock %}
      {% block content %}{% endblock %}
    </div>
  </section>
  {% block scripts %}{% endblock %}
    <script>
    function toggleDarkMode() {
      const html = document.documentElement;
      const isDark = html.classList.contains('dark');
      html.classList.toggle('dark');
      html.classList.toggle('light');
      localStorage.setItem('theme', isDark ? 'light' : 'dark');
    }

    // Carregar tema salvo
    window.onload = () => {
      const saved = localStorage.getItem('theme');
      if (saved === 'dark') {
        document.documentElement.classList.remove('light');
        document.documentElement.classList.add('dark');
      }
    }
  </script>
  <script src="{% static 'core/js/base/scriptBase.js' %}"></script>
  {% block extra_css %}{% endblock %}

  
</body>

</html>