{% extends 'core/base.html' %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'core/css/dashboard.css' %}">
{% endblock %}

{% block content %}


<div class="main">

  <div class="topbar">
    <h1>Dashboard</h1>
    <div class="user-info">Olá, {{ user.username }}</div>
  </div>

  <div class="content">

    <!-- Cards -->
    <div class="cards">
      <div class="card">
        <h3>Consultas do dia</h3>
        <p>5</p>
      </div>
      <div class="card">
        <h3>Consultas da semana</h3>
        <p>12</p>
      </div>
      <div class="card">
        <h3>Recebido hoje</h3>
        <p>R$ 350,00</p>
      </div>
      <div class="card">
        <h3>Pacientes cadastrados</h3>
        <p>312</p>
      </div>
      <div class="card">
        <h3>Profissionais ativos</h3>
        <p>4</p>
      </div>
    </div>

    <!-- Próximos atendimentos -->
    <div class="section">
      <h2>Atendimentos do dia</h2>
      <table>
        <thead>
          <tr>
            <th></th>

            <th>Paciente</th>
            <th>Profissional</th>
            <th>Especialidade</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          {% for agendamento in agendamentos %}
          <tr>
            <td style="width: 10px; background-color: {{ agendamento.especialidade.cor }};"></td>
            <td>{{ agendamento.paciente.nome }}</td>
            <td>{{ agendamento.profissional_1.nome }}</td>
            <td>{{ agendamento.especialidade.nome }}</td>
            <td>{{ agendamento.status }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>


    <div class="section">
      <h2>Avisos</h2>
      <div class="avisos">
        <ul>
          <li>📢 Feriado na próxima quarta-feira (não haverá atendimento)</li>
          <li>✅ Novo paciente agendado para amanhã - 14h</li>
          <li>💡 Lembre-se de atualizar os dados financeiros semanalmente</li>
        </ul>
      </div>
    </div>

  </div>
</div>
{% endblock %}