{% extends 'core/base.html' %}
{% load static %}



{% block title %}Financeiro | Clínica{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'core/css/agendamentos.css' %}">
{% endblock %}

{% block topbar %}
<div class="topbar">
    <h1>Pacientes</h1>
    <form method="GET" action="{% url 'pacientes' %}" class="search-form" type="search">
        <input type="text" name="q" value="{{ query|default:'' }}" placeholder="Buscar paciente aqui">
    </form>
    <div class="user-info">Olá, {{ user.username }}</div>
</div>
{% endblock %}

{% block content %}

{% endblock %}