{% extends 'core/base.html' %}
{% load static %}



{% block title %}Financeiro | Clínica{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'core/css/profissionais.css' %}">
{% endblock %}

{% block topbar %}
<div class="topbar">
    <h1>Profissionais</h1>
    <form method="GET" action="{% url 'pacientes' %}" class="search-form" type="search">
        <input type="text" name="q" value="{{ query|default:'' }}" placeholder="Buscar paciente aqui">
    </form>
    <div class="user-info">Olá, {{ user.username }}</div>
</div>
{% endblock %}
{% block content %}
<div class="content">
    <div class="content-header">
        <h2>Lista de Profissionais</h2>
        <form id="paginator-form" method="get">
            <input type="hidden" name="q" value="{{ query }}">
            <input type="hidden" id="page-input" name="page" value="{{ page_obj.number }}">

            <div class="pagination">
                {% if page_obj.has_previous %}

                <button type="button" onclick="setPage({{ page_obj.previous_page_number }}, event)">‹</button>
                {% endif %}

                <span>{{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>

                {% if page_obj.has_next %}
                <button type="button" onclick="setPage({{ page_obj.next_page_number }}, event)">›</button>

                {% endif %}
            </div>
        </form>
        <div>
            <button class="btn-add" onclick="abrirModal()">+ Nova Especialidade</button>
            <button class="btn-add" onclick="abrirModal()">+ Novo Profissional</button>
        </div>
    </div>
    <div class="tabela-container">
   
 

            <div class="modal-overlay" id="modalOverlay">
                <div class="modal">
                    <form method="post" id="formEspecialidade">
                        {% csrf_token %}
                        <h3 id="modalTitulo">Cadastrar Paciente</h3>
                        <div class="overlay-profissionais">
                            <div>
                                <input type="hidden" name="especialidade_id" id="especialidadeId">
                                <input type="text" name="especialidade" id="nomeInput" placeholder="Nome do paciente" required>
                                <form method="get" style="display: inline;">
                                    <label class="label_inativos">
                                        <input type="checkbox" name="filtra_inativo" onchange="this.form.submit()"
                                            {% if filtra_inativo %}checked{% endif %}>
                                        Mostrar apenas inativos
                                    </label>
                                </form>
                            </div>
                            <div>
                                <table class="tabela-head">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Especialidade</th>
                                            <th>Ações</th>
                                        </tr>
                                    </thead>
                                </table>

                                <div class="tabela-body-scroll">
                                    <table class="tabela-body">
                                        <tbody>
                                            {% for especialidade in page_obj %}
                                            <tr class="{% if not especialidade.ativo %}inativo{% endif %}">
                                                <td>{{ especialidade.id }}</td>
                                                <td>{{ especialidade.nome }}</td>
 
                                                <td class="actions">
                                                    <button class="view-btn">Ver</button>
                                                    <button class="edit-btn" data-id="{{ paciente.id }}"
                                                        data-nome="{{ paciente.nome }}" data-cpf="{{ paciente.cpf }}"
                                                        data-telefone="{{ paciente.telefone }}"
                                                        onclick="abrirModalEditar(this)">
                                                        Editar
                                                    </button>

                                                    {% if especialidade.ativo %}
                                                    <form method="post"
                                                        style="display:inline;">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="delete_id" value="{{ paciente.id }}">
                                                        <button type="submit"
                                                            onclick="return confirm('Tem certeza que deseja excluir?')">Excluir</button>
                                                    </form>
                                                    {% else %}
                                                    <span>Inativo</span>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            {% empty %}
                                            <tr>
                                                <td colspan="5">Nenhum profissional encontrado.</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <button type="submit">Salvar</button>
                            <button type="button" class="close-modal" onclick="fecharModal()">Cancelar</button>
                    </form>
                </div>
            </div>
        </div>
        {% endblock %}

        {% block scripts %}
        <script src="https://unpkg.com/imask"></script>
        <script src="{% static '/core/js/profissionais/baseProfissionais.js' %}"></script>
        {% endblock %}