.dropdown_menu {
    position: absolute;

    background: var(--backgroundCard);
    border: 1px solid var(--cinzaBorda);
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    display: none;
    flex-direction: column;
    min-width: 150px;
    z-index: 10;
    color: var(--preto);
    padding: 5px;


}

@media (max-width: 768px) {
    .dropdown_menu {
        right: 10px;
        min-width: 180px;
    }
}

.dropdown_menu button {
    padding: 8px;
    background: none;
    border: none;
    font-size: 14px;
    border-radius: 7px;
    cursor: pointer;
    text-align: left;
    color: var(--preto);
    box-shadow: none;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1em;

}

.dropdown_menu button i {
    font-size: 18px;
}

.dropdown_menu button:hover {
    background: var(--roxoPrincipal);
    color: white;


}



.dropdown_menu .btn-red:hover {
    background-color: var(--btn-red-exclude);
    color: red;
}

.btn-divider {
    height: 1px;
    width: 100%;
    background: var(--cinzaBorda);
    opacity: .9;
    margin: 0.1em 0;
}