@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --roxoPrincipal: #7F4396;
    --roxoPrincipal-hover: #76378f11;
    --roxoPrincipal-hover2: #76378f;
    --verdePrincipal: #92cbad;
    --branco: #FFF;
    --preto: #000;
    --cinzaBorda: #ccc;
    --cinzaEscuro: #6e6e6e;
    --fontePrincipal: 'Inter';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f6f8;
    display: flex;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
}


.formField {
    display: flex;
    align-items: center;
    gap: 1em;
    position: relative;
    width: 100%;
}


.date-s::-webkit-datetime-edit {
    color: transparent;
}

.date-s:focus::-webkit-datetime-edit,
.date-s:valid::-webkit-datetime-edit {
    color: var(--preto);

}

.formField .input-s {

    padding: 0.7em;
    outline: none;
    border: 2px solid var(--verdePrincipal);
    border-radius: 5px;
    color: var(--preto);
    font-size: 14px;
    font-weight: 400;
    transition: 0.3s ease-in-out;
    box-shadow: 0 0 0 5px transparent;
    width: 100%;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-repeat: no-repeat;
    background-position: right 1em center;
    background-size: 1em;
    cursor: pointer;
    box-sizing: border-box;
    white-space: nowrap;
    text-overflow: ellipsis;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    padding: 10px 40px 10px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: white;
    background-image: url("data:image/svg+xml,%3Csvg fill='%237F4396' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath d='M207.029 381.476L12.686 187.314C4.902 179.529 0 168.764 0 157.254s4.902-22.275 12.686-30.059l22.627-22.627C43.097 96.686 53.862 91.784 65.373 91.784s22.275 4.902 30.059 12.686L224 247.598l128.568-143.128c7.784-7.784 18.549-12.686 30.059-12.686s22.275 4.902 30.059 12.686l22.627 22.627c7.784 7.784 12.686 18.549 12.686 30.059s-4.902 22.275-12.686 30.059L240.971 381.476c-7.804 7.804-18.768 12.524-30.058 12.524s-22.255-4.72-30.058-12.524z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 16px;
    cursor: pointer;
    transition: border-color 0.2s;
    white-space: nowrap;
    text-overflow: ellipsis;

}

.formField form .select-s {
    padding: 0.3em;
    padding-right: 2.5em;

    padding-right: 35px;
    outline: none;
    border: 1px solid var(--cinzaBorda);
    border-radius: 5px;
    background-color: var(--roxoPrincipal-hover);
    color: var(--preto);
    font-size: 25px;
    font-weight: 400;
    transition: 0.3s ease-in-out;
    box-shadow: 0 0 0 5px transparent;



}

.input-s:focus,
.input-s.input-preenchido {
    box-shadow: 1px 0px 3px var(--roxoPrincipal);
    border: 1px solid var(--roxoPrincipal);
}

.formField .input-s:hover,
.formField .input-s:focus {
    box-shadow: 1px 0px 3px var(--roxoPrincipal);
    border: 1px solid var(--roxoPrincipal);
    color: var(--preto);
}

.formField .input-s:focus .form_cadastro-adicionais {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.formField .span-s {
    position: absolute;
    left: 0;
    top: 0;
    padding: .2em;
    color: var(--preto);
    font-size: 16px;
    font-weight: 400;
    transition: 0.3s ease-in-out;
    pointer-events: none;
}

.formField .textarea-s {
    flex-grow: 1;
    resize: none;
    height: 100%;

}

.formField .input-s:focus+.span-s,
.formField .input-s.input-preenchido+.span-s {
    transform: translateY(-30px) translateX(-5px) scale(0.95);
    transition: 0.3s ease-in-out;
    color: var(--roxoPrincipal);
    font-weight: 550;
}

.grid-config {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto auto;
    gap: 1em;
    grid-template-areas:
        "a b"
        "c b"
        "d d"
        "e f";
    padding: 1em;
}

.grid-config>div {
    background: var(--branco);
    border-radius: 15px;
  
    padding: 1em;

}

.form-1 {
    grid-area: a;
}

.form-2 {
    grid-area: b;
}

.form-3 {
    grid-area: c;
}

.form-4 {
    grid-area: d;
}

.form-5 {
    grid-area: e;
}

.form-6 {
    grid-area: f;
}

.form form {
    display: flex;

}