@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --roxoPrincipal: #7f4396;
  --roxoPrincipal-hover: #76378f49;
  --roxoPrincipal-hover2: #76378f;
  --verdePrincipal: #92cbad;
  --branco: #FFF;
  --preto: #000;
  --cinzaBorda: #ccc;
  --cinzaEscuro: #6e6e6e;
  --fontePrincipal: 'Inter';
}


body {
  background: url('/static/core/img/icons/background.png') no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
  font-family: var(--fontePrincipal);
  font-weight: 400;
  height: 100vh;
  font-size: 16px;
  overflow: hidden;

}

.container {

  display: flex;
  height: 100vh;
  width: 100%;
}

.left-side {
  background-color: var(--branco);
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2em;
  border-radius: 0 50px 50px 0;
}

.left-side .logo {
  width: 300px;
  margin-bottom: 1em;
}

.left-side h1 {
  color: #7f4396;
  font-size: 30px;
  margin-bottom: 0.5em;
  font-weight: 400;
}

.left-side p {
  color: #7f4396;
  opacity: 0.7;
  font-size: 16px;
}

.right-side {
 
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 30px 30px 0;
}

.login-container {
  width: 70%;
  max-width: 400px;
  text-align: center;
  color: var(--branco);
}

.login-container h2 {
  margin-bottom: 2em;
  font-weight: 600;
}

.form-group {
  margin-bottom: 1.5em;
}

.form-group input {
  width: 100%;
  padding: 0.8em;
  border: none;
  border-bottom: 1px solid #ccc;
  font-size: 16px;
  outline: none;
}

.input-wrapper {
  position: relative;
}

.input-wrapper i {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--roxoPrincipal);
  z-index: 100;
  font-size: 29px;

}

.input-wrapper input {
  padding-left: 50px;
}
