@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --roxoPrincipal: rgb(127, 67, 150);
  --roxoPrincipal-hover: #76378f49;
  --roxoPrincipal-hover2: #76378f;
  --verdePrincipal: rgb(146, 203, 173);
  --branco: #FFF;
  --preto: #000;
  --cinzaBorda: #ccc;
  --cinzaEscuro: #6e6e6e;
  --fontePrincipal: 'Inter';
}


body {
  display: flex;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--branco);
  font-family: var(--fontePrincipal);
  font-weight: 400;
  height: 100vh;
  font-size: 16px;
  overflow: hidden;

}

.login-wrapper {
  display: flex;
  height: 100vh;
  width: 100%;
}

.login_titulo {}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  align-items: center;
  gap: 1em;
}
h2  {
  font-size: 36px;
  color: var(--roxoPrincipal);
}
button {
  width: 30%;
  padding: .8em;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  color: var(--branco);
  background-color: var(--roxoPrincipal);
  margin-top: 2em;
}
.login-container label {
  font-size: 16px;
  margin-left: 15px;
}

.login-container input {
  padding: 1em;
  border-radius: 10px;
  outline: none;
  border: none;
  width: 500px;
  font-size: 16px;
  background-color: var(--roxoPrincipal-hover);
  margin: 1em 0;
}

.input-wrapper {
  position: relative;
}

.input-wrapper i {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--roxoPrincipal);
  z-index: 100;
  font-size: 29px;
}

.input-wrapper input {
  padding-left: 50px;
}

.image-side {
  width: 60%;
  height: 100%;
  box-shadow:   rgba(146, 203, 173, 0.8) -6px -2px 50px 10px;
}

.image-side img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px var(--roxoPrincipal-hover) inset !important;
  -webkit-text-fill-color: #000 !important;
  transition: background-color 5000s ease-in-out 0s;
}