@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --roxoPrincipal: #7F4396;
    --roxoPrincipal-hover: #76378f;
    --verdePrincipal: #92cbad;
    --branco: #FFF;
    --cinzaBorda: #ccc;
    --fontePrincipal: 'Inter';
}

 




















* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f6f8;
    display: flex;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

.content {
    background: #f4f6f8;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding: 1em;
    margin-top: 1em;
}

.content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.content-header h2 {
    margin: 0;
}

.btn-add {
    padding: 10px 15px;
    background-color: #009578;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-add:hover {
    background-color: #007b63;
}


/*==========TABELA============================TABELA===========================TABELA==========*/
.tabela-container {
    background: var(--branco);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding: 1em;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: var(--roxoPrincipal);
    color: white;
}

th,
td {
    padding: 1em;
    text-align: left;
    font-size: 14px;
    border-bottom: 1px solid #eee;
}

.badge {
    padding: .4em .8em;
    border-radius: 20px;
    color: var(--branco);
    font-size: 12px;
    font-weight: 600;
}

thead tr th:first-child {
    border-top-left-radius: 12px;
}

thead tr th:last-child {
    border-top-right-radius: 12px;
}

.grade-simples {
    background-color: #f26666;
    ;
}

.grade-plus {
    background: #f2c94c;
    color: black;
}

.grade-premium {
    background: #7f56d9;
}

.action-btn {
    cursor: pointer;
    background: transparent;
    border: none;
    font-size: 20px;
    color: black;

}

.action-btn:hover {
    background: transparent;
}

.dropdown {
    position: absolute;
    background: var(--branco);
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    display: none;
    flex-direction: column;
    min-width: 120px;
    z-index: 10;
    color: black;
}

.dropdown button {
    padding: 10px;
    background: none;
    border: none;
    cursor: pointer;
    text-align: left;
    color: black;

}

.dropdown button:hover {
    background: #eee;
}

/* From Uiverse.io by aunis1616 */
.coolinput {
    display: flex;
    flex-direction: column;
    width: fit-content;
    position: static;
    max-width: 240px;
}

.coolinput label.text {
    font-size: 0.75rem;
    color: #000000;
    font-weight: 700;
    position: relative;
    top: 0.5rem;
    margin: 0 0 0 7px;
    padding: 0 3px;
    background: #e8e8e8;
    width: fit-content;
}

.coolinput input[type="text"].input {
    padding: 11px 10px;
    font-size: 0.75rem;
    border: 2px #000000 solid;
    border-radius: 5px;
    background: #e8e8e8;
}

.coolinput input[type="text"].input:focus {
    outline: none;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal {
    background: white;
    padding: 30px;
    border-radius: 8px;
    width: 80vw;
    height: 90vh;
}

.close-modal {
    background: #e74c3c;
    color: white;

}


.pagination button {
    border: none;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    background-color: #007b63;
    color: white;
}

.tabela_infos-dados {
    display: flex;
    align-items: center;
    gap: 1em;


}

.modal-dados {
    display: flex;
    gap: 20px;
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 1em;

}

.modal-dados>div {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.modal-dados>div:nth-child(1),
.modal-dados>div:nth-child(2) {
    flex: 0 0 35%;
}

.modal-dados>div:nth-child(3) {
    flex: 0 0 27%;
}




.modal-dados-doc {
    display: flex;
    align-items: center;
    gap: 1em;

}


.input-style {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid gray;
    border-radius: 5px;
    box-sizing: border-box;
    height: 40px;
}


#corInput {
    flex: 1 1 25%;

}

#sexoInput {
    flex: 1 1 25%;
}

#naturalidadeInput {
    flex: 1 1 25%;
}

#ufInput {
    flex: 1 1 10%;
}




@media (max-width: 768px) {
    .content-header {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .modal {
        width: 95vw;
        height: auto;
        padding: 20px;
    }

    .modal-dados {
        flex-direction: column;
        gap: 1em;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .modal-dados>div {
        min-width: 250px;
        flex: 1;
    }

    .modal-endereco {
        flex-direction: column;
        width: 100%;
        gap: 15px;
    }

    .modal-endereco>div {
        flex: 1 1 100%;
        width: 100%;
    }

    .endereco_cep {
        flex-direction: column;
    }

    #cep,
    #btn-cep,
    #rua {
        width: 100%;
    }

    .modal-dados-doc,
    .modal-dados-doc-2 {
        flex-direction: column;
        gap: 10px;
    }

    .modal-dados-doc input,
    .modal-dados-doc select {
        width: 100%;
    }

    .tabela-container {
        margin: 0;
        height: auto;
    }

    .tabela-body-scroll {
        max-height: 50vh;
    }

    .btn-add {
        width: 100%;
        text-align: center;
    }

    .pagination {
        display: flex;
        justify-content: center;
        gap: 5px;
        flex-wrap: wrap;
        margin-top: 15px;
    }

    .pagination button {
        width: 35px;
        height: 35px;
    }
}