@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --roxoPrincipal: #7F4396;
    --roxoPrincipal-hover: #76378f11;
    --roxoPrincipal-hover2: #76378f;
    --verdePrincipal: #92cbad;
    --branco: #FFF;
    --preto: #000;
    --cinzaBorda: #ccc;
    --cinzaEscuro: #6e6e6e;
    --fontePrincipal: 'Inter';
}


.content {
    background: var(--branco);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding: 1em;
    margin-top: 1em;

    /* Ajuste para considerar a top bar + 2em de espaço no fim */
    height: calc(100vh - 80px - 2em);
    max-height: calc(100vh - 60px - 2em);
    box-sizing: border-box;
    overflow-y: auto;
    /* Habilita scroll interno, se necessário */
}

.content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.content-header h2 {
    margin: 0;
}

.btn {
    padding: 1em;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.card {
    position: relative;
    /* Necessário para posicionar o ícone dentro */
    background: white;
    border-radius: 16px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);

}

.menu-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: #888;
    cursor: pointer;
}

.avatar {
    width: 100px;
    height: 100px;
    background: #d6ccfa;
    border-radius: 50%;
    margin: 0 auto 10px;
}

.name {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 5px;
}

.subject {
    font-size: 14px;
    color: var(--roxoPrincipal);
    margin-bottom: 15px;
}

.icons span {
    display: flex;
    font-size: 15px;
    margin: 5px 5px;
    color: var(--preto);
    justify-content: center;
}