:root {
  --roxoPrincipal: #7f4396;
  --roxoPrincipal-hover: #76378f11;
  --roxoPrincipal-hover2: #76378f;
  --roxo-primary-hover: #9b58b4;
  --verdePrincipal: #92cbad;
  --branco: #FFF;
  --preto: #000;
  --cinzaBorda: #ccc;
  --cinzaEscuro: #6e6e6e;
  --fontePrincipal: 'Inter';
  --bg-color: #E4E9F7;
}

.dark {
  --roxoPrincipal: #7f4396;
  --roxoPrincipal-hover: #76378f11;
  --roxoPrincipal-hover2: #76378f;
  --roxo-primary-hover: #9b58b4;
  --verdePrincipal: #92cbad;

  --branco: #363636;
  /* fundo escuro */
  --preto: #f1f1f1;
  /* texto claro */
  --cinzaBorda: #444;
  --cinzaEscuro: #aaa;
  --bg-color: #242525;
}

* {
  transition: background-color 0.3s, color 0.3s;
}

body {
  background-color: var(--branco);
  /* antes era --bg-color */
  color: var(--preto);
  /* antes era --text-color */
  font-family: var(--fontePrincipal);
}

input,
textarea,
select {
  background-color: var(--branco);
  /* substitui --input-bg */
  color: var(--preto);
  /* substitui --text-color */
  border: 1px solid var(--cinzaBorda);
}

a {
  color: var(--preto);
  /* substitui --text-color */
}

.content {
  background-color: var(--branco);
  /* substitui --primary-color */
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.home-section {

  color: var(--preto);
}