@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fontePrincipal);
}

body {
    background-color: var(--bg-color);
    display: flex;
    min-height: 100vh;
    margin: 0;

    overflow: hidden;
}



.content {
    background: var(--branco);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding: 1em;
    margin-top: 1em;
    height: calc(100vh - 90px);
    max-height: calc(100vh - 60px - 2em);
    box-sizing: border-box;
    overflow-y: auto;

}

.content::-webkit-scrollbar-thumb {
    background-color: var(--roxoPrincipal);
    border-radius: 50px;
}

.content::-webkit-scrollbar {
    background-color: var(--branco);
    width: 5px;
}

.content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;

}

.content-header h2 {
    margin: 0;
}


.card-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.card {
    position: relative;

    background: white;
    border-radius: 16px;
    padding: 0 1em 1em 1em;
    text-align: center;
    box-shadow: var(--shadowRoxo);
    scale: 1;
    transition: scale .5s ease-in-out;
}

.card:hover {
    scale: 1.05;
    transition: scale .5s ease-in-out;
}

.nome_profissional {
    margin: 1em 0;
    background-color: #76378f;
    text-align: center;
    color: var(--branco);
    font-size: 18px;
    font-weight: 600;
    padding: .5em 0;
    border-radius: 15px
}

.lista_consulta li {
    list-style-type: none;
    background-color: #76378f;
    margin: .2em 0;
    border-radius: 10px;
    color: var(--branco);
    padding: .5em;
    font-size: 14px;
    font-weight: 600;

}



#sidebar {
    position: fixed;
    top: 0;
    right: -100%;
    width: 450px;
    height: 100vh;
    background-color: var(--branco);
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
    transition: right 0.3s ease;
    z-index: 1000;
    border-radius: 20px 0 0 20px;
    max-width: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
}

#sidebar.active {
    right: 0;
}

#openBtn {
    color: white;
    border: none;
    cursor: pointer;
    z-index: 900;
}

#closeBtn,
#closeBtnEdit {
    background: none;
    border: none;
    font-size: 28px;
    cursor: pointer;
    float: right;
    color: var(--roxoPrincipal);
    margin: 0;
    padding: 0;

}


/*=========================================================*/


h2 {
    margin-top: 0;
}

.formField {
    margin-bottom: 16px;

}

.formField label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
    font-size: 14px;
}

/* Estilo base dos inputs */
.formField input[type="text"],
.formField input[type="date"],
.formField input[type="time"],
.formField input[type="number"],
.formField input[type="radio"],
.formField select,
.formField textarea {
    width: 100%;
    padding: 0.7em;
    border: 1px solid var(--verdePrincipal);
    border-radius: 10px;
    font-size: 14px;
    outline: none;
    color: var(--cinzaEscuro);
}

.buttons_header input[type="text"],
.buttons_header input[type="date"] {
    width: 100%;
    padding: 0.7em;
    border: 1px solid var(--roxoPrincipal);
    border-radius: 10px;
    font-size: 14px;
    outline: none;
    color: var(--cinzaEscuro);
}

/* Estilo específico para input time */
.formField input[type="time"] {
    text-align: center;
}

/* Estilo quando preenchido ou em foco */
.formField input.input-preenchido,
.formField textarea.input-preenchido,
.formField select.input-preenchido,
.formField input:focus,
.formField textarea:focus,
.formField select:focus {
    box-shadow: 1px 0px 3px var(--roxoPrincipal);
    border: 1px solid var(--roxoPrincipal);
}

/* Hover apenas para inputs (opcional) */
.formField input:hover,
.formField .input-s:hover {
    box-shadow: 1px 0px 3px var(--roxoPrincipal);
    border: 1px solid var(--roxoPrincipal);
    color: var(--preto);
}

.input-s:focus,
.input-s.input-preenchido {
    box-shadow: 1px 0px 3px var(--roxoPrincipal);
    border: 1px solid var(--roxoPrincipal);
}

.formField .input-s:hover,
.formField .input-s:focus,
.formField .input-s::placeholder:hover {
    box-shadow: 1px 0px 3px var(--roxoPrincipal);
    border: 1px solid var(--roxoPrincipal);
    color: var(--preto);
}

.submenu input[type="text"],
.submenu input[type="date"],
.submenu input[type="time"],
.submenu input[type="number"],
.submenu select,
.submenu textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--roxoPrincipal);
    border-radius: 10px;
    font-size: 14px;
}

.input-wrapper {
    position: relative;
    width: 100%;
}

.input-wrapper input {
    width: 100%;
    padding-right: 40px;
    /* espaço pro botão */
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid var(--roxoPrincipal);
    padding: 8px;
}

.input-wrapper .modo_desconto {
    position: absolute;
    top: 50%;
    right: 6px;
    transform: translateY(-50%);
    height: 24px;
    width: 28px;
    border: none;
    border-radius: 6px;
    background: var(--roxoPrincipal);
    font-weight: bold;
    color: white;
    cursor: pointer;
    font-size: 12px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.formRow {
    display: flex;
    gap: 12px;

}

.formField input[type="time"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

.formRow .formField {
    flex: 1;
}



.textarea-large {
    height: 100px;
}

.submenu {
    border-top: 1px solid #ccc;
}

.submenu-header {
    cursor: pointer;
    position: relative;
    padding: 12px 0;
    font-weight: 500;
}

.submenu-header::after {
    content: '▾';
    position: absolute;
    right: 10px;
    transition: transform 0.2s ease;
}

.submenu.open .submenu-header::after {
    transform: rotate(180deg);
}

.submenu-content {
    display: none;
    padding: 10px 0;
}

.submenu.open .submenu-content {
    display: block;
}

.input-wrapper {
    position: relative;
    width: 100%;
}

#busca {
    width: 100%;
    box-sizing: border-box;
}



#sugestoes {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
    background: var(--branco);
    border: 1px solid var(--cinzaEscuro);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 10;
    display: none;
}

#sugestoes div:hover {
    background-color: var(--roxoPrincipal-hover);
}










.tabela-container {
    background: var(--branco);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding: 1em;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: var(--roxoPrincipal);
    color: white;
}

th,
td {
    padding: .5em;
    text-align: center;
    font-size: 14px;
    border-bottom: 1px solid var(--cinzaBorda);
}

th {
    padding: 1em;
}

.badge {
    padding: .4em .8em;
    border-radius: 20px;
    color: var(--branco);
    font-size: 12px;
    font-weight: 600;
}

thead tr th:first-child {
    border-top-left-radius: 12px;
}

thead tr th:last-child {
    border-top-right-radius: 12px;
}

.grade-simples {
    background-color: #f26666;
    ;
}

.grade-plus {
    background: #f2c94c;
    color: black;
}

.grade-premium {
    background: #7f56d9;
}

.header-sidebar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1.3em;


}

.sidebar .header-sidebar {

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 30px;


    z-index: 1000;
    box-sizing: border-box;

}

.sidebar .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 10px;



    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;

}


.agendamento_div {
    position: relative;
    overflow-y: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    height: calc(100vh - 140px);
    padding: 20px;
    z-index: 1000;
    border-bottom: 1px solid var(--roxoPrincipal);
    border-top: 1px solid var(--roxoPrincipal);
}

.agendamento_div::-webkit-scrollbar {
    display: none;

}

.footer {
    display: flex;
    padding: 0 20px;
    gap: 1em;

}

.btn-footer {
    width: 100%;
    padding: 1.5em 1em;
    transition: background 0.3s;
    border-radius: 15px;

}

#pacote_atual,
#info_reposicao {
    display: none;
    margin: 1em 0;
    padding: 10px;
    background-color: var(--verdeAvisosFundo);
    border: 1px solid var(--verdeAvisosLetra);
    color: var(--verdeAvisosLetra);
    border-radius: 5px;
}

/* Layout Base */


.agenda-data-group {
    margin: 30px 0 15px;
    font-size: 16px;
    font-weight: 600;
    color: var(--roxoPrincipal);
    padding-bottom: 5px;

}

/* Estrutura em Grid */
.agenda-item {
    display: grid;
    grid-template-columns: 150px 1fr 180px auto;
    gap: 15px;
    padding: .5em 0;
    border-bottom: 1px solid var(--cinzaBorda);
    align-items: end;
}

/* Coluna de Horário */
.time-col {
    display: flex;
    align-items: center;
}

.agenda-hora {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
}

.bolinha {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

/* Coluna de Informações */
.info-col {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    align-items: center;
    gap: 8px;

}

.info-col>* {
    margin: 0;
    padding: 0;
}

.profissional,
.paciente,
.sessao {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;

}

.profissional {
    font-weight: 600;
}

.sessao {
    color: var(--preto);
}

.info-line {
    display: flex;
    align-items: center;
    min-height: 24px;
}



.status-select {
    width: 100%;
    padding: 6px;
    border-radius: 15px;
    border: 1px solid var(--roxoPrincipal);
    font-size: 13px;
}


/* Coluna de Status */
.status-col {
    display: grid;
    align-items: center;

}



/* Coluna de Ações */
.actions-col {
    display: flex;
    gap: 8px;
}

.action-btn {

    color: var(--roxoPrincipal);
    font-size: 20px;
    border: none;
    padding: 5px;
    border-radius: 10px;
    font-size: 12px;
    cursor: pointer;
    white-space: nowrap;
    height: auto;
}

.action-btn:hover {
    background: var(--verdePrincipal);
}

.modal-att-agenda {
    display: none;
    /* Oculto por padrão */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Fundo escuro semi-transparente */
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-att-agenda.active {
    display: flex;

}

.modal-att-agenda .modal-conteudo {
    background-color: white;
    width: 30%;
    height: auto;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    position: relative;
}

.buttons_header {
    display: flex;
    align-items: center;
    gap: 10px;
    z-index: 0;
}

.modal_subtitulo {
    margin-bottom: 10px;
    color: var(--roxoPrincipal);
    font-size: 16px;
    font-weight: 550;
    text-decoration: underline;
}

.buttons_div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    z-index: 0;
    margin-top: 1em;
}

.radio-container {
    margin: 0 auto;
    max-width: 300px;
    color: var(--preto);
}

.radio-wrapper {
    margin-bottom: 20px;
}

.radio-button {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.radio-button:hover {
    transform: translateY(-2px);
}

.radio-button input[type="radio"] {
    display: none;
}

.radio-checkmark {
    display: inline-block;
    position: relative;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    border: 2px solid #7f4396;
    border-radius: 50%;
}

.radio-checkmark:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--roxo-primary-hover);
    transition: all 0.2s ease-in-out;
}

.radio-button input[type="radio"]:checked~.radio-checkmark:before {
    transform: translate(-50%, -50%) scale(1);
}

.radio-label {
    font-size: 16px;
    font-weight: 600;
}

.sessao.verde {
    color: green;
    font-weight: 500;
}

.sessao.vermelho {
    color: red;
    font-weight: 500;
}

.bx {
    font-size: 28px;
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip .tooltiptext {
    visibility: hidden;

    background-color: var(--roxoPrincipal);
    color: var(--branco);
    text-align: center;
    border-radius: 6px;
    padding: 0.3em;
    position: absolute;
    z-index: 500;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.6s;
    font-size: 12px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}