{% load static %}
{% block extra_css %}<link rel="stylesheet" href="{% static 'core/css/partials/_confirm_modal.css' %}">{% endblock %}


<div id="confirmModal" class="confirm-modal" style="display: none">
  <div class="confirm-modal-content">
    <span class="confirm-modal-close" onclick="closeConfirmModal()"
      >&times;</span
    >
 
    <h3 id="confirmModalTitle">Confirmar ação</h3>
    <p id="confirmModalMessage">Deseja realmente executar esta ação?</p>
    <div class="confirm-modal-buttons">
      <button
        type="button"
        class="confirm-modal-cancel"
        onclick="closeConfirmModal()"
      >
        Cancelar
      </button>
      <button
        type="button"
        class="confirm-modal-confirm"
        id="confirmModalConfirmBtn"
      >
        Confirmar
      </button>
    </div>
  </div>
</div>
 
{% block scripts %}
<script src="{% static '/core/js/base/confirm_modal.js' %}"></script>
{% endblock %}