{% load static %}
{% block extra_css %}<link rel="stylesheet" href="{% static 'core/css/partials/_dropdown.css' %}">{% endblock %}
<div class="dropdown-wrapper">
  <button class="action-btn" onclick="toggleDropdown(this)">⋮</button>
  <div class="dropdown_menu">
    <a href="{% url 'perfil_paciente' paciente.id %}">
      <button type="button"><i class="bx bx-show"></i> Ver perfil</button>
    </a>
    <button
      onclick="window.location.href='{% url 'editar_paciente' paciente.id %}'"
    >
      <i class="bx bx-edit"></i> Editar
    </button>
    <button onclick="abrirFicha('{% url 'ficha_paciente' paciente.id %}')">
      <i class="bx bx-file-blank"></i> Gerar Ficha
    </button>
    <button onclick="abrirFicha('{% url 'ficha_paciente' paciente.id %}')">
      <i class="bx bx-calendar-plus"></i>Agendar
    </button>
    <form
      method="POST"
      action="{% url 'pacientes' %}"
      style="margin: 0"
      id="inativarForm{{ paciente.id }}"
    >
      {% csrf_token %}
      <input type="hidden" name="delete_id" value="{{ paciente.id }}" />
      <button
        type="button"
        onclick="showConfirmModal(
    'Inativar Paciente', 
    'Deseja realmente inativar o paciente {{ paciente.nome }}?', 
    document.getElementById('inativarForm{{ paciente.id }}')
  )"
      >
        <i class="bx bx-user-x"></i> Inativar
      </button>
    </form>
  </div>
</div>

{% block scripts %}
<script src="{% static '/core/js/base/confirm_modal.js' %}"></script>
{% endblock %}