{% load static %}
{% block extra_css %}<link rel="stylesheet" href="{% static 'core/css/partials/_modal_edit_agenda.css' %}">{% endblock %}

<div class="modal-overlay" id="modalEditAgenda">
    <div class="modal">
        <div class="modal-header">
            <h3 class="modal-title">Editar agendamento</h3>
            <button class="modal-close" id="closeBtnEdit">&times;</button>
        </div>
        
        <div class="modal-body scrollable-content">
            <form id="form-edicao" method="post" action="#">
                {% csrf_token %}
                
                <div class='modal_subtitulo'>Editar dados da sessão</div>
                <div class="form-group sessao-grid">
                    <div class="form-field">
                        <label class="form-label">Profissional 1 *</label>
                        <select name="profissional1_id" id="profissional1InputEdicao" class="form-input" required>
                            <option value="" disabled selected>Selecione um profissional</option>
                            {% for profissional in profissionais %}
                            <option value="{{ profissional.id }}">
                                {{ profissional.nome }} {{ profissional.sobrenome }} 
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-field">
                        <label class="form-label">Data *</label>
                        <input type="date" name="data" id="dataInputEdicao" class="form-input" required>
                    </div>
                    <div class="form-field">
                        <label class="form-label">Início *</label>
                        <input type="time" name="hora_inicio" id="horaInicioPrincipal" class="form-input" min="06:00" max="00:00" required>
                    </div>
                    <div class="form-field">
                        <label class="form-label">Fim *</label>
                        <input type="time" name="hora_fim" id="horaFimPrincipal" class="form-input" min="06:00" max="00:00" required>
                    </div>
                </div>
                
                <div class='modal_subtitulo'>Adicionar atualizações</div>
                <div class="form-group sessao-grid-2">
                    <div class="form-field">
                        <label class="form-label">Profissional 2</label>
                        <select name="profissional2_id" id="profissional2InputEdicao" class="form-input">
                            <option value="" selected>Nenhum</option>
                            {% for profissional in profissionais %}
                            <option value="{{ profissional.id }}">  
                                {{ profissional.nome }} {{ profissional.sobrenome }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-field">
                        <label class="form-label">Início</label>
                        <input type="time" name="hora_inicio_aux" id="horaInicioAjuda" class="form-input" min="06:00" max="00:00">
                    </div>
                    <div class="form-field">
                        <label class="form-label">Fim</label>
                        <input type="time" name="hora_fim_aux" id="horaFimAjuda" class="form-input" min="06:00" max="00:00">
                    </div>
                </div>
                
                <div class='modal_subtitulo'>Observações / Notas internas</div>
                <div class="form-group">
                    <div class="form-field">
                        <label class="form-label">Observações</label>
                        <textarea class="form-textarea textarea-large" name="observacoes">{{ ag.observacoes }}</textarea>
                    </div>
                </div>
                
                <div class='modal_subtitulo'>Adicionar pagamento</div>
                <div class="form-group">
                    <div class="form-field">
                        <label class="form-label">Valor pago</label>
                        <input id="valorPagoInput" type="number" name="valor_pago" class="form-input" placeholder="Valor pago" step="0.01">
                    </div>
                    <div class="form-field">
                        <label class="form-label">Forma de pagamento</label>
                        <select id="formaPagamentoSelect" name="forma_pagamento" class="form-input">
                            <option value="pix">Pix</option>
                            <option value="credito">Cartão de Crédito</option>
                            <option value="debito">Cartão de Débito</option>
                            <option value="dinheiro">Dinheiro</option>
                        </select>
                    </div>
                </div>
                
                <div class='modal_subtitulo'>Pagamentos anteriores</div>
                <div id="lista-pagamentos" class="form-group">
                    <!-- Pagamentos anteriores serão carregados aqui -->
                </div>
            </form>
        </div>
        
        <div class="modal-footer">
            <button type="button" id="btn_gerar_cupom" class="btn btn-secondary">
                Gerar Comprovante
            </button>
            <button type="submit" form="form-edicao" class="btn btn-primary">Salvar edição</button>
        </div>
    </div>
</div>