{% load static %}
{% block extra_css %}<link rel="stylesheet" href="{% static 'core/css/partials/_modal_edit_agenda.css' %}">{% endblock %}


<div id="modalEditAgenda" class="modal-att-agenda">
    <div class="modal-conteudo">
        <div class="header-sidebar">
            <h3>Editar agendamento</h3>
            <button id="closeBtnEdit">&times;</button>
        </div>
        <form id="form-edicao" method="post" action="#">
            {% csrf_token %}
            <div class='modal_subtitulo'>Editar dados da sessão</div>
            <div class="formRow sessao-grid">
                <div class="formField ">
                    <label>Profissional 1</label>
                    <select name="profissional1_id" id="profissional1InputEdicao" class="input-s" required>
                        <option value="" disabled selected>Selecione um profissional</option>
                        {% for profissional in profissionais %}
                        <option value="{{ profissional.id }}">
                            {{ profissional.nome }} {{ profissional.sobrenome }} 
                        </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="formField">
                    <label>Data</label>
                    <input type="date" name="data" id="dataInputEdicao">
                </div>
              
                    <div class="formField">
                        <label>Início</label>
                        <input type="time" name="hora_inicio" id="horaInicioPrincipal" min="06:00" max="00:00"
                            required>
                    </div>
                    <div class="formField">
                        <label>Fim</label>
                        <input type="time" name="hora_fim" id="horaFimPrincipal" min="06:00" max="00:00" required>
                    </div>
             
            </div>
            <div class='modal_subtitulo'>Adicionar atualizações</div>
            
            <div class="formRow sessao-grid-2">
                <div class="formField">
                    <label>Profissional 2</label>
                    <select name="profissional2_id" id="profissional2InputEdicao" class="input-s">
                        <option value="" selected>Nenhum</option>
                        {% for profissional in profissionais %}
                        <option value="{{ profissional.id }}">  
                            {{ profissional.nome }} {{ profissional.sobrenome }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="formField">
                    <label>Início</label>
                    <input type="time" name="hora_inicio_aux" id="horaInicioAjuda" min="06:00" max="00:00">
                </div>
                <div class="formField">
                    <label>Fim</label>
                    <input type="time" name="hora_fim_aux" id="horaFimAjuda" min="06:00" max="00:00">
                </div>

            </div>
            <div class='modal_subtitulo'>Observações / Notas internas</div>

            <div class="formRow">
                <div class="formField">
                    <label>Observações</label>
                    <textarea class="textarea-large" name="observacoes">{{ ag.observacoes }}</textarea>

                </div>
            </div>
            <div class='modal_subtitulo'>Adicionar pagamento</div>
            <div class="formRow">

                <div class="formField">
                    <label>Valor pago</label>
                    <input id="valorPagoInput" type="number" name="valor_pago" placeholder="Valor pago" step="0.01">

                </div>
                <div class="formField">
                    <label>Forma de pagamento</label>
                    <select id="formaPagamentoSelect" name="forma_pagamento">
                        <option value="pix">Pix</option>
                        <option value="credito">Cartão de Crédito</option>
                        <option value="debito">Cartão de Débito</option>
                        <option value="dinheiro">Dinheiro</option>
                    </select>
                </div>

            </div>
            <div class='modal_subtitulo'>Pagamentos anteriores</div>
            <div id="lista-pagamentos" class="formRow">

            </div>
                    <div class="formRow">
                <div class="formField buttons_div">
                    <button type="button" id="btn_gerar_cupom">
                        Gerar Comprovante
                    </button>
                    <button> Salvar edição </button>
                </div>
            </div>

        </form>

    </div>
</div>
</div>